# --- Python ---
__pycache__/
.pytest_cache/
*.py[cod]
*$py.class
venv/
.env

# --- PyCharm ---
.vscode/
.idea/
.idea/

# --- ArcGIS / ESRI ---
*.lock
*.log
gpmetadata/
*.xml
*.mxd.xml
scratch.gdb/
Default.gdb/

# --- Data (DO NOT UPLOAD GDBs) ---
*.gdb/
*.gdb.zip
*.lock
*.sde/
data/

# Ignore temporary/scratch data directories
scratch/
SCRATCH_DIR/
TEMP_ZIP.zip

# --- Miscellaneous ---
archive/
.DS_Store
Thumbs.db
